main {
	display: flex;
}
	nav {
		border-color: rgba(0, 0, 0, 0.13);
		border-style: solid;
		border-width: 0 1px 1px 0;
		padding-top: 20px; /* For toc-search, as if margin is applied on toc-search, it exceeds nav */
		width: 250px;
	}
		nav > h1 {
			position: fixed;
			top: -9999px;
		}
		#toc-search {
			border: 2px solid #bfbfbf;
			display: block;
			margin: 0 auto 20px auto;
			padding: 4px 8px 4px 28px;
			background: url('./search.png') no-repeat 5px center / auto 80%;
			width: 86%;
		}
			#toc-search:focus {
				border-color: transparent;
			}

		#toc-controls {
			display: block;
			margin-bottom: 3px;
			text-align: right;
		}
			.toc-control {
				margin-right: 3px;
			}
				.toc-control::after {
					content: attr(value);
				}

		#toc-categories {
			margin: 0;
		}
		.toc-category-label {
			background: #ccc;
			color: gray;
			cursor: pointer;
			font-size: 13px;
			padding: 4px 12px;
			position: relative;
			text-transform: uppercase;
		}
			.toc-category-label:hover {
				background: #bfbfbf;
			}
			.toc-category-label::after {
				content: '\25A2';
				display: block;
				position: absolute;
				top: 3px;
				right: 5px;
			}
			.toc-category-label.active::after {
				content: '\25A3';
			}

		.toc-category-entries-container {
			display: none;
			margin: 0;
		}
			.toc-category-label.active + .toc-category-entries-container {
				display: block;
			}

			.toc-category-entries {
				margin: 0;
				padding: 0;
			}

				.toc-category-entry {
					cursor: pointer;
					display: block;
					padding: 9px 6px 6px 18px;
				}
				.toc-category-entry.active,
				.toc-category-entry:hover {
					background: rgba(180, 180, 180, 0.25);
				}

	article {
		padding: 30px;
		width: calc(100% - 250px);
	}
		article:not(:empty) {
			max-width: 1000px;
		}
		article:empty {
		}
			article:empty::before {
				color: gray;
				content: 'Choose something in the pane on your left';
				display: block;
				text-align: center;
			}

		article header {
			margin-bottom: 25px;
		}
		article section {
			margin-bottom: 50px;
		}

		article h1 {
			font-size: 30px;
			font-weight: 400;
			margin: 0 0 12px 0;
		}
			article h1::after {
				background: #333;
				content: '';
				display: block;
				height: 2px;
				margin-top: 6px;
				/*width: 100%;*/
			}
			article .versions {
				display: block;
				color: gray;
			}

		article h2 {
			font-size: 20px;
			font-weight: 200;
			margin: 0 0 8px 0;
		}