#app-header {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	align-items: center;
	box-shadow: 0 2px 16px #999;
	display: flex;
	position: relative; /* For settings menu */
	width: 100%;
	height: 74px;
	z-index: 6;
}
	#app-logo {
		font-size: 36px;
		font-weight: 600;
	}

	#app-listings {
		margin: 0;
		padding: 0;
		white-space: nowrap;
	}
		#app-listings li {
			color: #4d4d4d;
			display: inline-block;
			font-weight: 500;
		}
			#app-listings li:not(:last-child) {
				margin-right: 10px;
			}
			#app-listings li.active {
				background: rgba(0, 0, 0, 0.12);
			}
		#app-listings a {
			color: inherit;
			display: block;
			padding: 6px 9px;
			text-decoration: none;
		}
			#app-listings li.active a {
				cursor: default;
			}

	#app-settings-menu-button {
		font-size: 25px;
	}
	#app-settings-menu {
		background: white;
		border: 2px solid rgba(150, 150, 150, 0.6);
		box-shadow: -2px 2px 16px #ccc;
		display: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 80%;
		width: 185px;
	}
		#app-settings-menu.visible {
			display: block;
		}
		.app-settings-button {
			background: none;
			border: 0;
			color: #333;
			cursor: pointer;
			font-size: 15px;
			outline: 0;
			padding: 8px 12px;
			text-align: right;
			width: 100%;
		}
			.app-settings-button::before {
				content: attr(value);
				text-transform: capitalize;
			}