@media (min-width: 1000px) {
	article {
		padding: 30px;
		width: calc(100% - 250px);
	}
		article:not(:empty) {
			max-width: 1000px;
		}

	article .category {
		display: none;
	}

	article p,
	article pre,
	article dl,
	article ul {
		margin: 0 0 18px 0;
	}
}