article {
	padding: 30px;
	width: calc(100% - 250px);
}
	article:not(:empty) {
		max-width: 1000px;
	}
	article:empty {
	}
		article:empty::before {
			color: gray;
			content: 'Choose something in the pane on your left';
			display: block;
			text-align: center;
		}

	article header {
		margin-bottom: 25px;
	}
	article section {
		margin-bottom: 50px;
	}

	article h1 {
		font-size: 30px;
		font-weight: 400;
		margin: 0 0 12px 0;
	}
		article h1::after {
			background: #333;
			content: '';
			display: block;
			height: 2px;
			margin-top: 6px;
			/*width: 100%;*/
		}
		article .versions {
			display: block;
			color: gray;
		}
			article .versions::after {
				content: ' versions';
			}

	article h2 {
		background: #999;
		color: white;
		display: inline-block;
		font-size: 20px;
		font-weight: 200;
		margin: 0 0 8px 0;
		padding: 4px 8px;

		/* ALTERNATE THEME: */
		/*color: #404040;*/
	}