* {
	box-sizing: border-box;
}
body, button, select, input, textarea {
	border-radius: 0; /* Fix iOS */
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, Cantarell, Oxygen, Droid Sans, Fira Sans, sans-serif;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
}
flex-spacer {
	flex-grow: 1;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

<ZC-IMPORT[header]>
<ZC-IMPORT[header-large]>
<ZC-IMPORT[header-small]>
<ZC-IMPORT[main]>
<ZC-IMPORT[main-large]>
<ZC-IMPORT[main-small]>
<ZC-IMPORT[pane]>
<ZC-IMPORT[pane-large]>
<ZC-IMPORT[pane-small]>
<ZC-IMPORT[article]>
<ZC-IMPORT[article-large]>
<ZC-IMPORT[article-small]>
<ZC-IMPORT[footer]>