nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.13);
    padding-top: 20px; /* For toc-search, as if margin is applied on toc-search, it exceeds nav */

    min-height: 100%;
    z-index: 5; /* #app-header is 6 so that its shadow can overlap */
}
    #app[data-dark-theme="true"] nav {
        background: black;
        border-color: transparent;
    }

    nav > h1 {
        position: fixed;
        top: -9999px;
    }
    #toc-search {
        background: url('../images/search.png') no-repeat 5px center / auto 80%;
        border: 2px solid #bfbfbf;
        display: block;
        margin: 0 auto 20px auto;
        outline: 0;
        height: 25px;
        padding: 0 8px 0 28px;
        width: 86%;
    }
        #toc-search:focus {
            border-color: #666;
        }
        #app[data-dark-theme="true"] #toc-search {
            border-color: #333;
            border-width: 0 0 2px 0;
            color: #909090;

            transition: 0.4s;
        }
            #app[data-dark-theme="true"] #toc-search:focus {
                border-color: #909090;
                background-color: rgba(230, 230, 230, 0.05);
            }

    #toc-controls {
        display: flex;
        justify-content: flex-end;

        margin-bottom: 3px;
        height: 21px;
    }
        .toc-control {
            margin: 0 3px 0 0;
        }
            #app[data-dark-theme="true"] .toc-control {
                margin: 0 0 0 3px;
            }
            .toc-control::after {
                content: attr(value);
            }

    #toc-categories {
        margin: 0;
    }
    .toc-category-label {
        background: #ccc;
        color: gray;
        cursor: pointer;
        font-size: 13px;
        padding: 4px 12px;
        position: relative;
        text-transform: uppercase;
    }
        #app[data-dark-theme="true"] .toc-category-label {
            background: #222;
        }
        .toc-category-label::after {
            content: '\25A2';
            display: block;
            position: absolute;
            top: 3px;
            right: 5px;
        }
        .toc-category[data-expanded="true"] > .toc-category-label::after {
            content: '\25A3';
        }

    .toc-category-entries-container {
        display: none;
        margin: 0;
    }
        .toc-category[data-expanded="true"] > .toc-category-entries-container {
            display: block;
        }

        .toc-category-entries {
            margin: 0;
            padding: 0;
        }

            .toc-category-entry {
                cursor: pointer;
                display: block;
                padding: 9px 6px 9px 18px;
            }
            .toc-category-entry[data-hidden="true"] {
                display: none;
            }
            .toc-category-entry[data-active="true"] {
                background: rgba(180, 180, 180, 0.25);
            }
                #app[data-dark-theme="true"] .toc-category-entry[data-active="true"] {
                    background: #111;
                }
