#main {
    height: calc(100% - 74px);
}

#article-container {
    height: 100%;
}

#article-noload-message {
    color: gray;
    text-align: center;
    padding: 28px;
}

#article {
    border: 0;
    height: 100%;
    width: 100%;
}
