article {
	padding: 30px;
	width: calc(100% - 250px);
}
	article:empty {
	}
		article:empty::before {
			color: gray;
			display: block;
			text-align: center;
		}

	article header {
		margin-bottom: 25px;
	}
	article section:not(:last-of-type) {
		margin-bottom: 62px;
	}


	article .category {
		display: none;

		/* Identical to .toc-category-label */
		background: #ccc;
		color: gray;
		/*display: inline-block;*/
		cursor: pointer;
		font-size: 13px;
		margin-bottom: 6px;
		padding: 4px 8px;
		position: relative;
		text-transform: uppercase;
	}

	article h1 {
		font-size: 30px;
		font-weight: 400;
		margin: 0 0 12px 0;
	}
		article h1::after {
			background: #333;
			content: '';
			display: block;
			height: 2px;
			margin-top: 6px;
		}
		article .versions {
			color: gray;
		}
			article .versions::after {
				content: ' versions';
			}

	article h2 {
		background: #999;
		color: white;
		display: inline-block;
		font-size: 18px;
		font-weight: 200;
		margin: 0 0 18px 0;
		padding: 6px 12px;
	}

	article p,
	article pre,
	article dl,
	article ul {
		line-height: 1.5;
	}
		article dt, article li {
			margin-bottom: 12px;
		}
		article dt {
			font-weight: 600;
		}
		article dd {
			margin-bottom: 36px;
		}

	article pre {
		background: #f2f2f2;
		border: 1px solid #666;
		color: #595959;
		display: block;
		padding: 8px 10px;
		font-size: 14px;
		overflow: auto;
	}
		article pre.signature {
			background: #282c34;
			border: 1px solid #181a1f;
			color: #abb2bf;
			padding: 10px;
			font-size: 18px;
		}

		article pre .type { /* .type exists in _wldoc_typedline code */
			color: #1a1a1a;
		}
			article pre.signature .type {
				color: #98c379;
			}

	article code {
		color: #4d4d4d;
		display: inline-block;
		font-size: 15px;
	}