#feedback {
    position: absolute;

    padding: 2rem;

    height: 34rem;
    width: 39rem;
}

#feedback-close {
    position: absolute;
    right: 0;
    /*
        #feedback-cloes already has margin because #feedback-form > *
        This just makes it centre vertically, accounting for existing margins
     */
    top: 0.25rem;
}
