#feedback {
  position: absolute;

  padding: 2rem;

  height: 34rem;
  width: 39rem;
}

#feedback-form > * {
  margin: 1.5rem;
}

#feedback-close {
  position: absolute;
  right: 1.5rem;
  top: 1.75rem;
}
