#header {
    z-index: 10; /* So box-shadow is over #pane ONLY in large mode (in small mode, 1) #pane should hide box-shadow 2) #pane-open-button needs to be on top */
}

#pane-open-button {
    display: none;
}

#logo {
    margin-right: 14px;
    padding: 0 19px;
}

.listing:hover {
    background: rgba(0, 0, 0, 0.12);
}

.dark-theme .listing:hover {
    background: transparent;
    color: white;
}

#settings-menu-button {
    margin-right: 12px;
}

#settings-menu {
    right: 12px;
}

.settings-button:hover {
    background: rgba(0, 0, 0, 0.1);
}
