#header-logo {
  font-size: 2.5rem;
  width: 4.5rem;
}

.header-project-menu-container {
  display: none !important;
}

.header-project-link {
  font-size: 1.25rem;
  padding: 0 0.25rem;
}

.header-project-link::after {
  display: none;
}

#header-controls {
  display: none;
}
