#header-logo {
  width: 3rem;
}

.header-project-menu-container {
  display: none !important;
}

.header-project-link {
  padding: 0 0.2rem;
}

.header-project-link::after {
  display: none;
}

#header-controls {
  display: none;
}
