#logo {
    margin-right: 5px;
    padding: 0 14px;
}

#listings {
    flex-shrink: 1;
    margin-right: 10px;
    overflow: auto;
}

#settings-menu-button {
    margin-right: 10px;
}

#settings-menu {
    right: 10px;
}
