#pane {
}

#toc-search-wrapper {
  border: 1px solid #bfbfbf;
  border-radius: 0.125rem;

  background: white;

  display: block;
  position: relative;

  height: 1.75rem;
  margin-bottom: 1.25rem;
}

#toc-search-wrapper::before {
  content: '⚲';
  display: block;

  position: absolute;
  top: 0;
  left: 0.5rem;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#toc-search {
  border: 0;
  background: transparent;

  display: block;

  padding: 0 0.5rem 0 1.75rem;

  height: 100%;
  width: calc(100% - 1.25rem);

  outline: 0;
}

#toc-search:focus {
  border-color: #666;
}

#toc-categories {
  margin: 0;
}

.toc-category {
  margin-bottom: 1.5rem;
  display: block;
}

.toc-category-label {
  color: gray;
  font-size: 0.75rem;
  padding: 0.5rem;
  text-transform: uppercase;

  position: relative;

  cursor: pointer;
}

.toc-category-label.active {
  font-weight: 600;
}

.toc-category-label::after {
  /*content: '▶';*/
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
}

input[name="toc-category-expanded"]:checked + .toc-category-label::after {
  content: '▼';
}

#pane[searching] .toc-category-label::after {
  display: none;
}

.toc-category-entries {
  margin: 0.5rem 0 0 0;
  padding: 0;
  display: none;
}

input[name="toc-category-expanded"]:checked ~ .toc-category-entries,
#pane[searching] .toc-category-entries {
  display: block;
}

.toc-category-entry {
  display: block;
}

.toc-category-entry[hidden] {
  display: none;
}

.toc-category-entry > a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.toc-category-entry.active {
  background: rgba(180, 180, 180, 0.25);
}
