#pane {
    width: 250px;
    float: left;
}

.toc-category-label:hover {
    background: #bfbfbf;
}

.toc-category-entry-link:hover {
    background: rgba(180, 180, 180, 0.25);
}

.dark-theme .toc-category-entry:hover {
    background: #111;
}
