#pane-container:focus {
    pointer-events: none; /* Allow clicking logo again to close */
}

#pane {
    display: block; /* Reset small.css #pane */

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s;
}

#pane-container:focus #pane {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; /* Reverse #pane:focus pointer-events */
}
