#pane-container {
    outline: 0;
    position: fixed; /* Just to remove from flow */
}

#pane {
    position: fixed;
    display: none;
    top: 74px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

#pane.open {
    display: block;
}
