* {
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    font-size: 16px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, Cantarell, Oxygen, Droid Sans, Fira Sans, sans-serif;
    margin: 0;
}

header {
    margin-bottom: 1.5rem;
}

section:not(:last-of-type) {
    margin-bottom: 4rem;
}

.category {
    display: none;
    margin-bottom: 0.5rem;

    /* Identical to .toc-category-label */
    background: #ccc;
    color: gray;
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem;
    position: relative;
    text-transform: uppercase;
}

.dark-theme .category {
    background: #222;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 0.75rem 0;
}

h1::after {
    background: #333;
    content: '';
    display: block;
    height: 0.125rem;
    margin-top: 0.5rem;
}

.versions {
    color: gray;
}

.versions::after {
    content: ' versions';
}

.dark-theme .versions {
    color: #444;
}

h2 {
    background: #999;
    color: white;
    display: inline-block;
    font-size: 1rem;
    font-weight: 200;
    margin: 0 0 1rem 0;
    padding: 0.5rem 0.75rem;
}

dt, li {
    margin-bottom: 0.75rem;
}

dt {
    font-weight: 600;
}

dd {
    margin-bottom: 2rem;
}

pre {
    background: #f2f2f2;
    border: 1px solid #666;
    color: #595959;
    display: block;
    padding: 0.75rem;
    overflow: auto;
}

pre.signature {
    background: #282c34;
    border: 1px solid #181a1f;
    color: #abb2bf;
    padding: 0.75rem;
}

pre .type { /* .type exists in x-wldoc-typedline code */
    color: #1a1a1a;
}

pre .literal { /* .literal exists in x-wldoc-typedline code */
    color: #d19a66;
}

pre.signature .type {
    color: #98c379;
}

pre.signature .literal {
    color: #61aeee;
}

code {
    color: #4d4d4d;
    display: inline-block;
}
