.article-nav {
  font-size: 0.875rem;
  font-weight: 600;

  /* Put styling here instead of each cell because small doesn't use table layout */
  background: #eee;

  border-width: 1px 0;
  border-style: solid;
  border-color: #aaa;

  padding: 0.25rem 0.5rem;

  color: #999;
}

.article-nav:first-child {
  margin-bottom: 0.75rem;
}

.article-nav:last-child {
  margin: 1rem 0;
}

.article-nav-right {
  text-align: right;
}

#article section:not(:last-of-type) {
  margin-bottom: 4rem;
}

#article .category-label {
  font-size: 0px;
}

#article .category {
  display: none;

  margin-bottom: 0.5rem;

  background: #ddd;
  color: gray;
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;

  white-space: pre-wrap;
}

#article > header > h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

#article > header > h1::after {
  background: #333;
  content: '';
  display: block;
  height: 0.125rem;
}

#article h2 {
  background: #999;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
  padding: 0.5rem 0.75rem;
}

#article h3 {
  border: 1px solid #999;
  background: #f2f2f2;
  color: #666;
  font-size: 1rem;
  font-weight: 200;
  margin: 1rem 0;
  padding: 0.5rem 0.75rem;
}

article .table-container {
  overflow: auto;
}

article table {
  border-collapse: collapse;
  min-width: 100%;
}

article td, article th {
  padding: 0.5rem 0.75rem;
  border: 0.125rem solid #ddd;
}

#article ul {
  padding-left: 2.5rem;
}
#article li ul {
  padding-left: 1.25rem;
}

#article p,
#article pre,
#article dl,
#article ul {
  margin: 1rem 0;
}

#article dt,
#article dd,
#article dd dl,
#article li,
#article li ul {
  margin: 0.5rem 0;
}

#article dt {
  font-weight: 600;
}

#article pre {
  background: #f2f2f2;
  border: 1px solid #666;
  color: #595959;
  display: block;
  padding: 0.75rem;
  overflow: auto;
  font-size: 0.875rem;
}

#article pre.signature {
  background: #282c34;
  border: 1px solid #181a1f;
  color: #abb2bf;
  padding: 0.75rem;
  font-size: 1rem;
}

#article pre .type { /* .type exists in x-wldoc-typedline code */
  color: #1a1a1a;
}

#article pre .literal { /* .literal exists in x-wldoc-typedline code */
  color: #d19a66;
}

#article pre.signature .type {
  color: #98c379;
}

#article pre.signature .literal {
  color: #61aeee;
}

#article code {
  color: #4d4d4d;
  font-size: 0.875rem;
}

#article a code {
  color: inherit;
}
