#article {
    max-width: 60rem;
    width: calc(100% - 18rem);
    padding: 2rem;

    opacity: 1;
    filter: none;
    transition: opacity 0.2s;
}

#pane:hover + #article {
    opacity: 0.25;
    filter: blur(4px);
}

#article > header > h1::after {
    margin-top: 0.5rem;
}
