#article header {
  padding: 0;
}

#article .category {
  padding-left: 0;
  padding-right: 0;
}

#article .category::before {
  display: none;
}

#article h2,
#article h3,
#article pre {
  padding-left: 0;
  padding-right: 0;
}

#article > section > :not(h2):not(h3) {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.article-nav {
  display: none;
}
