#article-container {
  /* Although unlikely, if an article has no/almost no content, #article width collapses */
  width: 100%;
}

#article .category {
  display: block;
}

#article .category::before {
  /* Only show in small as category is also shown in reader mode */
  content: '☰   ';
}

#article dd {
  margin-left: 0;
}
