#article {
    padding: 1rem;
    /* Although unlikely, if an article has no/almost no content, #article width collapses */
    width: 100%;
}

#article .category {
    display: block;
}

#article .category::before {
    content: '<   ';
}

#article dd {
    margin-left: 0;
}
