* {
  box-sizing: border-box;
}

[hidden] {
  /* For unsupported browsers */
  display: none;
}

html {
  /* Yes, do not change button, input, etc. font size (defaults look good) */
  font-size: 16px;
  background: #002B36;
  line-height: 1.5;
}

@media print {
  html {
    font-size: 14px;
  }
}

body, button, select, input, textarea {
  /* Ubuntu font doesn't look good */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Cantarell, Oxygen, Droid Sans, Fira Sans, Open Sans, Arial, sans-serif;
  border-radius: 0;
  outline: none;
  margin: 0;
  color: #839496;
}

button {
  background: transparent;
  border: 0;
  color: #268BD2;
  font-size: 1rem;
  padding: 0;

  cursor: pointer;
}

button:hover, button:focus {
  text-decoration: underline;
}

textarea {
  resize: none;
}

a {
  color: #2AA198;
  text-decoration: none;
  outline: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#main {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#pane, #article-container {
  display: table-cell;
  vertical-align: top;
}

<ZC-IMPORT[../../node_modules/highlight.js/styles/atom-one-dark.css]>
<ZC-IMPORT[feedback/base.css]>
<ZC-IMPORT[article/base.css]>
<ZC-IMPORT[header/base.css]>
<ZC-IMPORT[pane/base.css]>

@media screen and (min-width: 1001px) {
  <ZC-IMPORT[feedback/large.css]>
  <ZC-IMPORT[article/large.css]>
  <ZC-IMPORT[header/large.css]>
  <ZC-IMPORT[pane/large.css]>
}

@media screen and (max-width: 1000px) {
  <ZC-IMPORT[feedback/small.css]>
  <ZC-IMPORT[article/small.css]>
  <ZC-IMPORT[header/small.css]>
  <ZC-IMPORT[pane/small.css]>
}

@media print {
<ZC-IMPORT[feedback/print.css]>
<ZC-IMPORT[article/print.css]>
<ZC-IMPORT[header/print.css]>
<ZC-IMPORT[pane/print.css]>
}
