* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    background: white;
    min-height: 100%;
}

#gradient-body-background {
    background: white;
    background: linear-gradient(to bottom, #e8e8e8 0%, #fff 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
}

body, button, select, input, textarea {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, Cantarell, Oxygen, Droid Sans, Fira Sans, sans-serif;
    border-radius: 0;
    outline: none;
    margin: 0;
}

button {
    border-radius: 2px;
    border: 1px solid #949494;
    background: linear-gradient(to bottom, #f8f8f8 0%, #dddddd 100%);
    color: black;
    font-size: 11px;
    padding: 3px 8px;
}
    button:active {
        background: linear-gradient(to bottom, #dfdfdf 0%, #f7f7f7 100%);
    }

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#pane-container, #article {
    display: inline-block;
    vertical-align: top;
}

<ZC-IMPORT[../../node_modules/highlight.js/styles/atom-one-dark.css]>
<ZC-IMPORT[article/base.css]>
<ZC-IMPORT[header/base.css]>
<ZC-IMPORT[main/base.css]>
<ZC-IMPORT[pane/base.css]>

@media (min-width: 1001px) {
    <ZC-IMPORT[article/large.css]>
    <ZC-IMPORT[header/large.css]>
    <ZC-IMPORT[main/large.css]>
    <ZC-IMPORT[pane/large.css]>
}

@media (max-width: 1000px) {
    <ZC-IMPORT[article/small.css]>
    <ZC-IMPORT[header/small.css]>
    <ZC-IMPORT[main/small.css]>
    <ZC-IMPORT[pane/small.css]>
}
