* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, Cantarell, Oxygen, Droid Sans, Fira Sans, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

header {
  height: 5rem;
  line-height: 5rem;
  text-align: center;
}

#logo, #title {
  display: inline-block;
  vertical-align: top;
}

#logo {
  font-size: 2.25rem;
  font-weight: 600;
  width: 4.5rem;
}

#title {
  margin: 0;
  font-size: 1.25rem;
  /* font-weight: 300; */
  font-weight: 500;
  /* color: #ccc; */
  color: #4d4d4d;
  padding-left: 0.75rem;
}

nav, article {
  display: inline-block;
  vertical-align: top;
}

nav {
  padding-right: 35px;
  width: 200px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  border-radius: 3px;
  color: #4d4d4d;
  display: block;
  margin-top: 3px;
}

nav li:hover {
  background: rgba(0, 0, 0, 0.12);
}

nav a {
  color: inherit;
  display: block;
  padding: 10px 14px;
  text-decoration: none;
  width: 100%;
}

article {
  width: calc(100% - 200px);
}

@media (max-width: 800px) {
}
